html,
body {
	margin: 0;
	padding: 0;
	background: black;
	width: 100%;
	height: 100%;
	font-family: "Neucha", cursive;
}

a {
	color: white;
	padding-right: 30px;
}

a:hover {
	color: rgb(74, 250, 250);
}

main {
	position: relative;
}

header {
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

h1 {
	text-align: center;
	font-family: "Rock Salt", cursive;
	color: rgb(74, 250, 250);
	margin-left: 20px;
}

h2 {
	font-size: 2.5em;
	font-family: "Rock Salt", cursive;
	color: rgb(74, 250, 250);
}

header a {
	text-decoration: none;
}

a h3:hover {
	color: white;
}

h3 {
	color: rgb(74, 250, 250);
	margin-right: 15px;
}

h5 {
	color: rgb(74, 250, 250);
	text-align: center;
	padding-bottom: 20px;
	font-size: 0.75rem;
}

input[type="checkbox"] {
	display: unset;
}

.container {
	width: 40px;
	height: 60px;
	margin: 0 auto;
}

.svg-container {
	width: 60px;
}
svg {
	width: 100%;
	height: 100%;
	z-index: 10;
}

path {
	width: 60px;
	height: 40px;
	stroke: rgb(74, 250, 250);
	stroke-dasharray: 99.47578430175781;
	stroke-dashoffset: -99.47578430175781;
	fill: transparent;
	align-self: auto;
}

svg.animate path {
	animation: 1.7s ease forwards draw;
	opacity: 1;
}

@keyframes draw {
	0% {
		opacity: 1;
		stroke-dashoffset: -99.47578430175781;
		fill: transparent;
		transform: translateY(0);
	}

	35% {
		stroke-dashoffset: 0;
		fill: transparent;
	}

	60% {
		fill: rgb(74, 250, 250);
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		fill: rgb(74, 250, 250);
		stroke-dashoffset: 0;
		opacity: 1;
		transform: translateY(0px);
	}
}
label {
	color: white;
	font-size: 2rem;
	padding-left: 10px;
}

li {
	padding: 10px;
	display: flex;
	text-align: center;
	align-items: center;
}

p {
	color: white;
}

span {
	color: white;
	font-size: 0.5rem;
}

ul {
	margin: 50px;
	text-align: left;
}

video {
	max-width: 100%;
}

.about-box {
	display: table;
	/* margin: auto; */
	position: relative;
	text-align: left;
}

.bored {
	width: 60px;
	height: 60px;
}

.contact-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 20px;
	margin-right: 20px;
}

.github,
.linkedin,
.twitter,
.email {
	height: 120px;
	position: relative;
	z-index: 10;
}

.github:hover,
.linkedin:hover,
.twitter:hover,
.email:hover {
	height: 140px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
}

.git-box,
.linkedin-box,
.twitter-box,
.email-box {
	padding: 60px;
	position: relative;
	display: inline-block;
	text-align: right;
}

.imgtext {
	display: block;
}

#about,
#projects {
	min-width: 100vw;
	min-height: 100vh;
	overflow: auto;
	padding: 50px;
}

#landing {
	text-align: center;
	min-width: 100vw;
	min-height: 100vh;
}

.intro {
	text-align: center;
	height: auto;
}
/* .line {
	margin-top: 6.5em;
	width: 70%;
} */

/* .line {
	height: 5px;
	background: rgb(74, 250, 250);
	position: relative;
	width: 100%;
	/* -webkit-animation: line-draw 15s backwards; */
/* animation: line-draw 5s ease-in-out;
} */

hr {
	border-style: solid;
	border-block-width: 15px;
	border-color: rgb(74, 250, 250);
}
hr.animated {
	width: 100%;
	animation: line-draw 2s ease-in-out;
}

@keyframes line-draw {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.project-section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	transform: translateX(-200%);
	transition: transform 1s ease;
	padding-bottom: 50px;
}

.project-section.appear {
	transform: translateX(0);
}

.project-text {
	padding-right: 30px;
	padding-left: 30px;
}

.hi {
	text-align: left;
	margin-left: 20%;
}
.letterDrop {
	font-size: 6em;
	position: relative;
	top: 0;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	opacity: 0.8;
	transform: rotateX(-90deg);
	animation: letterDrop 1.2s ease 1 normal forwards;
}

@keyframes letterDrop {
	10% {
		opacity: 0.5;
	}
	20% {
		opacity: 0.8;
		top: 0.5em;
		transform: rotateX(-360deg);
	}
	100% {
		opacity: 1;
		top: 1em;
		transform: rotateX(360deg);
	}
}
