html,
body {
	margin: 0;
	padding: 0;

	/* background-color: rgb(47, 58, 61); */
	width: 100%;
	height: 100%;
	font-family: "Neucha", cursive;
}
body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23171d1d' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

a {
	color: white;
	padding-right: 30px;
}

a:hover {
	color: rgb(74, 250, 250);
}

main {
	position: relative;
}

header {
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

h1 {
	text-align: center;
	font-family: "Rock Salt", cursive;
	color: rgb(74, 250, 250);
	margin-left: 20px;
}

h2 {
	font-size: 2.5em;
	font-family: "Rock Salt", cursive;
	color: rgb(74, 250, 250);
}

header a {
	text-decoration: none;
}

a h3:hover {
	color: white;
}

h3 {
	color: rgb(74, 250, 250);
	margin-right: 15px;
}

h5 {
	color: rgb(74, 250, 250);
	text-align: center;
	padding-bottom: 20px;
	font-size: 0.75rem;
}

input[type="checkbox"] {
	display: unset;
}

.container {
	width: 40px;
	height: 60px;
	margin: 0 auto;
}

.svg-container {
	width: 60px;
}
svg {
	width: 100%;
	height: 100%;
	z-index: 10;
}

path {
	width: 60px;
	height: 40px;
	stroke: rgb(74, 250, 250);
	stroke-dasharray: 99.47578430175781;
	stroke-dashoffset: -99.47578430175781;
	fill: transparent;
	align-self: auto;
}

svg.animate path {
	animation: 1.7s ease forwards draw;
	opacity: 1;
}

@keyframes draw {
	0% {
		opacity: 1;
		stroke-dashoffset: -99.47578430175781;
		fill: transparent;
		transform: translateY(0);
	}

	35% {
		stroke-dashoffset: 0;
		fill: transparent;
	}

	60% {
		fill: rgb(74, 250, 250);
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		fill: rgb(74, 250, 250);
		stroke-dashoffset: 0;
		opacity: 1;
		transform: translateY(0px);
	}
}
label {
	color: white;
	font-size: 2rem;
	padding-left: 10px;
}

li {
	padding: 10px;
	display: flex;
	text-align: center;
	align-items: center;
}

p {
	color: white;
}

span {
	color: white;
	font-size: 0.5rem;
}

ul {
	margin: 50px;
	text-align: left;
}

video {
	max-width: 100%;
}

.about-box {
	display: table;
	/* margin: auto; */
	position: relative;
	text-align: left;
}

.bored {
	width: 60px;
	height: 60px;
}

.contact-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 20px;
	margin-right: 20px;
}

.github,
.linkedin,
.twitter,
.email {
	height: 120px;
	position: relative;
	z-index: 10;
}

.github:hover,
.linkedin:hover,
.twitter:hover,
.email:hover {
	height: 140px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
}

.git-box,
.linkedin-box,
.twitter-box,
.email-box {
	padding: 60px;
	position: relative;
	display: inline-block;
	text-align: right;
}

.imgtext {
	display: block;
}

#about,
#projects {
	max-width: 100vw;
	min-height: 100vh;
	overflow: auto;
	padding: 50px;
}

#landing {
	text-align: center;
	max-width: 100vw;
	min-height: 100vh;
	overflow: auto;
}

.intro {
	text-align: center;
	height: auto;
}
/* .line {
	margin-top: 6.5em;
	width: 70%;
} */

/* .line {
	height: 5px;
	background: rgb(74, 250, 250);
	position: relative;
	width: 100%;
	/* -webkit-animation: line-draw 15s backwards; */
/* animation: line-draw 5s ease-in-out;
} */

hr {
	border-style: solid;
	border-block-width: 15px;
	border-color: rgb(74, 250, 250);
}
hr.animated {
	width: 100%;
	animation: line-draw 2s ease-in-out;
}

@keyframes line-draw {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.project-section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	transform: translateX(-200%);
	transition: transform 1s ease;
	padding-bottom: 50px;
}

.project-section.appear {
	transform: translateX(0);
}

.project-text {
	padding-right: 30px;
	padding-left: 30px;
}

.hi {
	text-align: left;
	margin-left: 20%;
	padding-bottom: 0;
}
/* .letterDrop {
	font-size: 6em;
	position: relative;
	top: 0;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	opacity: 0.8;
	transform: rotateX(-90deg);
	animation: letterDrop 1.2s ease 1 normal forwards;
}

@keyframes letterDrop {
	10% {
		opacity: 0.5;
	}
	20% {
		opacity: 0.8;
		top: 0.5em;
		transform: rotateX(-360deg);
	}
	100% {
		opacity: 1;
		top: 1em;
		transform: rotateX(360deg);
	}
} */
/* @keyframes textAnim {
	0% {
		font-size: 80px;
		fill: white;
	}
	10% {
		font-size: 100px;
		fill: rgb(74, 250, 250);
	}
	40% {
		font-size: 70px;
		fill: rgb(3, 95, 95);
	}
	100% {
		font-size: 80px;
		fill: white;
	}
}

@-webkit-keyframes textAnim {
	0% {
		font-size: 80px;
		fill: white;
	}
	10% {
		font-size: 100px;
		fill: rgb(74, 250, 250);
	}
	40% {
		font-size: 70px;
		fill: rgb(3, 95, 95);
	}
	100% {
		font-size: 80px;
		fill: white;
	}
}

text tspan {
	font-family: Helvetica, Arial;
	font-weight: 900;
	animation: textAnim 2s ease infinite;
	-webkit-animation: textAnim 2s ease infinite;
}

#l2 {
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
#l3 {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
#l4 {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
#l5 {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
} */

@keyframes slow-wave {
	0%,
	100% {
		-webkit-transform: perspective(1000) rotateX(360deg) rotateY(360deg)
			rotateZ(-45deg);
		transform: perspective(1000) rotateX(360deg) rotateY(360deg) rotateZ(-45deg);
	}

	50% {
		-webkit-transform: perspective(2000) rotateX(360deg) rotateY(0deg)
			rotateZ(0);
		transform: perspective(2000) rotateX(360deg) rotateY(0deg) rotateZ(0);
	}
}

.txtwav.slow span {
	animation-play-state: running;
	animation-direction: alternate-reverse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: slow-wave;
	display: inline-block;
	border-bottom: 0;
	animation-delay: -0.1s;
}

.txtwav.slow :nth-child(25n + 0) {
	animation-delay: -6s;
}

.txtwav.slow :nth-child(25n + 1) {
	animation-delay: -5.76s;
}

.txtwav.slow :nth-child(25n + 2) {
	animation-delay: -5.52s;
}

.txtwav.slow :nth-child(25n + 3) {
	animation-delay: -5.28s;
}

.txtwav.slow :nth-child(25n + 4) {
	animation-delay: -5.04s;
}

.txtwav.slow :nth-child(25n + 5) {
	animation-delay: -4.8s;
}

.txtwav.slow :nth-child(25n + 6) {
	animation-delay: -4.56s;
}

.txtwav.slow :nth-child(25n + 7) {
	animation-delay: -4.32s;
}

.txtwav.slow :nth-child(25n + 8) {
	animation-delay: -4.08s;
}

.txtwav.slow :nth-child(25n + 9) {
	animation-delay: -3.84s;
}

.txtwav.slow :nth-child(25n + 10) {
	animation-delay: -3.6s;
}

.txtwav.slow :nth-child(25n + 11) {
	animation-delay: -3.36s;
}

.txtwav.slow :nth-child(25n + 12) {
	animation-delay: -3.12s;
}

.txtwav.slow :nth-child(25n + 13) {
	animation-delay: -2.88s;
}

.txtwav.slow :nth-child(25n + 14) {
	animation-delay: -2.64s;
}

.txtwav.slow :nth-child(25n + 15) {
	animation-delay: -2.4s;
}

.txtwav.slow :nth-child(25n + 16) {
	animation-delay: -2.16s;
}

.txtwav.slow :nth-child(25n + 17) {
	animation-delay: -1.92s;
}

.txtwav.slow :nth-child(25n + 18) {
	animation-delay: -1.68s;
}

.txtwav.slow :nth-child(25n + 19) {
	animation-delay: -1.44s;
}

.txtwav.slow :nth-child(25n + 20) {
	animation-delay: -1.2s;
}

.txtwav.slow :nth-child(25n + 21) {
	animation-delay: -0.96s;
}

.txtwav.slow :nth-child(25n + 22) {
	animation-delay: -0.72s;
}

.txtwav.slow :nth-child(25n + 23) {
	animation-delay: -0.48s;
}

.txtwav.slow :nth-child(25n + 24) {
	animation-delay: -0.24s;
}

@keyframes bounce-wave {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10px);
	}
}

.txtwav.bounce span {
	animation-direction: alternate;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-name: bounce-wave;
	display: inline-block;
}

.txtwav.bounce :nth-child(25n + 0) {
	animation-delay: -0.6s;
}

.txtwav.bounce :nth-child(25n + 1) {
	animation-delay: -0.576s;
}

.txtwav.bounce :nth-child(25n + 2) {
	animation-delay: -0.552s;
}

.txtwav.bounce :nth-child(25n + 3) {
	animation-delay: -0.528s;
}

.txtwav.bounce :nth-child(25n + 4) {
	animation-delay: -0.504s;
}

.txtwav.bounce :nth-child(25n + 5) {
	animation-delay: -0.48s;
}

.txtwav.bounce :nth-child(25n + 6) {
	animation-delay: -0.456s;
}

.txtwav.bounce :nth-child(25n + 7) {
	animation-delay: -0.432s;
}

.txtwav.bounce :nth-child(25n + 8) {
	animation-delay: -0.408s;
}

.txtwav.bounce :nth-child(25n + 9) {
	animation-delay: -0.384s;
}

.txtwav.bounce :nth-child(25n + 10) {
	animation-delay: -0.36s;
}

.txtwav.bounce :nth-child(25n + 11) {
	animation-delay: -0.336s;
}

.txtwav.bounce :nth-child(25n + 12) {
	animation-delay: -0.312s;
}

.txtwav.bounce :nth-child(25n + 13) {
	animation-delay: -0.288s;
}

.txtwav.bounce :nth-child(25n + 14) {
	animation-delay: -0.264s;
}

.txtwav.bounce :nth-child(25n + 15) {
	animation-delay: -0.24s;
}

.txtwav.bounce :nth-child(25n + 16) {
	animation-delay: -0.216s;
}

.txtwav.bounce :nth-child(25n + 17) {
	animation-delay: -0.192s;
}

.txtwav.bounce :nth-child(25n + 18) {
	animation-delay: -0.168s;
}

.txtwav.bounce :nth-child(25n + 19) {
	animation-delay: -0.144s;
}

.txtwav.bounce :nth-child(25n + 20) {
	animation-delay: -0.12s;
}

.txtwav.bounce :nth-child(25n + 21) {
	animation-delay: -0.096s;
}

.txtwav.bounce :nth-child(25n + 22) {
	animation-delay: -0.072s;
}

.txtwav.bounce :nth-child(25n + 23) {
	animation-delay: -0.048s;
}

.txtwav.bounce :nth-child(25n + 24) {
	animation-delay: -0.024s;
}

@keyframes vibe-wave {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(4px);
	}
}

.txtwav.vibe span {
	animation-direction: alternate;
	animation-duration: 0.08s;
	animation-iteration-count: infinite;
	animation-name: vibe-wave;
	display: inline-block;
}

.txtwav.vibe :nth-child(10n + 0) {
	animation-delay: -0.16s;
}

.txtwav.vibe :nth-child(10n + 1) {
	animation-delay: -0.144s;
}

.txtwav.vibe :nth-child(10n + 2) {
	animation-delay: -0.128s;
}

.txtwav.vibe :nth-child(10n + 3) {
	animation-delay: -0.112s;
}

.txtwav.vibe :nth-child(10n + 4) {
	animation-delay: -0.096s;
}

.txtwav.vibe :nth-child(10n + 5) {
	animation-delay: -0.08s;
}

.txtwav.vibe :nth-child(10n + 6) {
	animation-delay: -0.064s;
}

.txtwav.vibe :nth-child(10n + 7) {
	animation-delay: -0.048s;
}

.txtwav.vibe :nth-child(10n + 8) {
	animation-delay: -0.032s;
}

.txtwav.vibe :nth-child(10n + 9) {
	animation-delay: -0.016s;
}

@keyframes flip-wave-0 {
	5% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	10% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 0) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-0;
	display: inline-block;
}

@keyframes flip-wave-1 {
	10% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	15% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 1) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-1;
	display: inline-block;
}

@keyframes flip-wave-2 {
	15% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	20% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 2) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-2;
	display: inline-block;
}

@keyframes flip-wave-3 {
	20% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	25% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 3) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-3;
	display: inline-block;
}

@keyframes flip-wave-4 {
	25% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	30% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 4) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-4;
	display: inline-block;
}

@keyframes flip-wave-5 {
	30% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	35% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 5) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-5;
	display: inline-block;
}

@keyframes flip-wave-6 {
	35% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	40% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 6) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-6;
	display: inline-block;
}

@keyframes flip-wave-7 {
	40% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	45% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 7) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-7;
	display: inline-block;
}

@keyframes flip-wave-8 {
	45% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	50% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 8) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-8;
	display: inline-block;
}

@keyframes flip-wave-9 {
	50% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	55% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 9) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-9;
	display: inline-block;
}

@keyframes flip-wave-10 {
	55% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	60% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 10) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-10;
	display: inline-block;
}

@keyframes flip-wave-11 {
	60% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	65% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 11) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-11;
	display: inline-block;
}

@keyframes flip-wave-12 {
	65% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	70% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 12) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-12;
	display: inline-block;
}

@keyframes flip-wave-13 {
	70% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	75% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 13) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-13;
	display: inline-block;
}

@keyframes flip-wave-14 {
	75% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	80% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 14) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-14;
	display: inline-block;
}

@keyframes flip-wave-15 {
	80% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	85% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 15) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-15;
	display: inline-block;
}

@keyframes flip-wave-16 {
	85% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	90% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 16) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-16;
	display: inline-block;
}

@keyframes flip-wave-17 {
	90% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	95% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 17) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-17;
	display: inline-block;
}

@keyframes flip-wave-18 {
	95% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 18) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-18;
	display: inline-block;
}

@keyframes flip-wave-19 {
	100% {
		transform: translate3d(0, -16px, 0) rotate(720deg);
	}
	105% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotate(720deg);
	}
}

.txtwav.flip :nth-child(20n + 19) {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: flip-wave-19;
	display: inline-block;
}

.workstitle span {
	color: rgb(74, 250, 250);
	font-size: 6em;
	letter-spacing: 30px;
}
