html,
body {
	margin: 0;
	padding: 0;
	background: black;
	width: 100%;
	height: 100%;
}

a {
	color: rgb(74, 250, 250);
}

a:hover {
	color: white;
}

main {
	position: relative;
}

header {
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

h1 {
	color: rgb(74, 250, 250);
	margin-left: 20px;
}

h2 {
	color: white;
}

header a {
	text-decoration: none;
}

a h3:hover {
	color: white;
}

h3 {
	color: rgb(74, 250, 250);
	margin-right: 15px;
}

h5 {
	color: rgb(74, 250, 250);
	text-align: center;
	padding-bottom: 20px;
	font-size: 0.75rem;
}

p {
	color: white;
}

span {
	color: white;
	font-size: 0.5rem;
}

video {
	max-width: 100%;
}

.contact-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 20px;
	margin-right: 20px;
}

.github,
.linkedin,
.twitter,
.email {
	height: 120px;
	position: relative;
	z-index: 10;
}

.github:hover,
.linkedin:hover,
.twitter:hover,
.email:hover {
	height: 140px;
	margin-top: -20px;
	margin-left: -10px;
	margin-right: -10px;
}

.git-box,
.linkedin-box,
.twitter-box,
.email-box {
	padding: 60px;
	position: relative;
	display: inline-block;
	text-align: right;
}

.imgtext {
	display: block;
}

#landing,
#about {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.project-section {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	transform: translateX(-200%);
	transition: transform 1s ease;
}

.project-section.appear {
	transform: translateX(0);
}

.project-text {
	padding-right: 30px;
}
